.input-radio-group {
  margin-bottom: 25px;

  label {
    display: block;
    margin-bottom: 10px;
  }

  .radio-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .radio-button {
      margin-right: 25px;
    }
  }
}
